{% load static %}

<div class="header-bottom sticky-content fix-top sticky-header">
    <div class="container">
        <div class="inner-wrap">
            <div class="header-left">
                <div class="dropdown category-dropdown has-border" data-visible="true">
                    <a href="#" class="category-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" data-display="static"
                        title="Browse Categories">
                        <i class="w-icon-category"></i>
                        <span>KATEQORİYALAR</span>
                    </a>
                    <div class="dropdown-box">
                        <ul class="menu vertical-menu category-menu">
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-tshirt2"></i>Fashion
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-home"></i>Home & Garden
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-electronics"></i>Electronics
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-electronics"></i>Electronics
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-furniture"></i>Furniture
                                </a>
                                <ul class="megamenu type2">
                                    <li class="row">
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Furniture</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Sofas & Couches</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Armchairs</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Bed Frames</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Beside Tables</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Dressing Tables</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Lighting</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Light Bulbs</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Lamps</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Celling Lights</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Wall Lights</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Bathroom
                                                        Lighting</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Home Accessories</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Decorative
                                                        Accessories</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Candals &
                                                        Holders</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Home Fragrance</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Mirrors</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Clocks</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Garden & Outdoors</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Garden
                                                        Furniture</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Lawn Mowers</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Pressure
                                                        Washers</a></li>
                                                <li><a href="shop-fullwidth-banner.html">All Garden
                                                        Tools</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Outdoor Dining</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Garden & Outdoors</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Garden
                                                        Furniture</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Lawn Mowers</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Pressure
                                                        Washers</a></li>
                                                <li><a href="shop-fullwidth-banner.html">All Garden
                                                        Tools</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Outdoor Dining</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Garden & Outdoors</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Garden
                                                        Furniture</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Lawn Mowers</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Pressure
                                                        Washers</a></li>
                                                <li><a href="shop-fullwidth-banner.html">All Garden
                                                        Tools</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Outdoor Dining</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Garden & Outdoors</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Garden
                                                        Furniture</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Lawn Mowers</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Pressure
                                                        Washers</a></li>
                                                <li><a href="shop-fullwidth-banner.html">All Garden
                                                        Tools</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Outdoor Dining</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Garden & Outdoors</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Garden
                                                        Furniture</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Lawn Mowers</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Pressure
                                                        Washers</a></li>
                                                <li><a href="shop-fullwidth-banner.html">All Garden
                                                        Tools</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Outdoor Dining</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Garden & Outdoors</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Garden
                                                        Furniture</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Lawn Mowers</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Pressure
                                                        Washers</a></li>
                                                <li><a href="shop-fullwidth-banner.html">All Garden
                                                        Tools</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Outdoor Dining</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Garden & Outdoors</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Garden
                                                        Furniture</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Lawn Mowers</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Pressure
                                                        Washers</a></li>
                                                <li><a href="shop-fullwidth-banner.html">All Garden
                                                        Tools</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Outdoor Dining</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Garden & Outdoors</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Garden
                                                        Furniture</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Lawn Mowers</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Pressure
                                                        Washers</a></li>
                                                <li><a href="shop-fullwidth-banner.html">All Garden
                                                        Tools</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Outdoor Dining</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-heartbeat"></i>Healthy & Beauty
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-gift"></i>Gift Ideas
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-furniture"></i>Furniture
                                </a>
                                <ul class="megamenu type2">
                                    <li class="row">
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Furniture</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Sofas & Couches</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Armchairs</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Bed Frames</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Beside Tables</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Dressing Tables</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Lighting</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Light Bulbs</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Lamps</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Celling Lights</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Wall Lights</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Bathroom
                                                        Lighting</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Home Accessories</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Decorative
                                                        Accessories</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Candals &
                                                        Holders</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Home Fragrance</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Mirrors</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Clocks</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <h4 class="menu-title">Garden & Outdoors</h4>
                                            <hr class="divider" />
                                            <ul>
                                                <li><a href="shop-fullwidth-banner.html">Garden
                                                        Furniture</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Lawn Mowers</a>
                                                </li>
                                                <li><a href="shop-fullwidth-banner.html">Pressure
                                                        Washers</a></li>
                                                <li><a href="shop-fullwidth-banner.html">All Garden
                                                        Tools</a></li>
                                                <li><a href="shop-fullwidth-banner.html">Outdoor Dining</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-gamepad"></i>Toy & Games
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-ice-cream"></i>Cooking
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-ios"></i>Smart Phones
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-camera"></i>Cameras & Photo
                                </a>
                            </li>
                            <li>
                                <a href="shop-fullwidth-banner.html">
                                    <i class="w-icon-ruby"></i>Accessories
                                </a>
                            </li>
                            <li>
                                <a href="shop-banner-sidebar.html"
                                    class="font-weight-bold text-primary text-uppercase ls-25">
                                    View All Categories<i class="w-icon-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- ===== Navbar ===== -->
                {% include "core/includes/__navbar.html" %}
                <!-- ===== END Navbar ===== -->
            </div>
        </div>
    </div>
</div>