{% load static %}

<div class="header-top">
    <div class="container">
        <div class="header-left">
            <a href="" class="adress">Bakı.Azərbaycan</a>
        </div>
        <div class="header-right">
            <div class="social-icons social-icons-colored">
                <a href="#" class="social-icon social-whatsapp fa-brands fa-whatsapp"></a>
                <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
            </div>
            <div class="header-search hs-toggle dir-up">
                <a href="#" class="search-toggle sticky-link">
                    <i class="w-icon-search"></i>
                    <p>Axtar</p>
                </a>
                <form action="#" class="input-wrapper show">
                    <input type="text" class="form-control" name="search" autocomplete="off"
                        placeholder="Search" required />
                    <button class="btn btn-search" type="submit">
                        <i class="w-icon-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
