{% load static %}

<nav class="main-nav">
    <ul class="menu active-underline">
        <li {% if request.resolver_match.view_name == 'index_view' %}class="active"{% endif %}><a href="{% url "index_view" %}">Əsas Səhifə</a></li>
        <li {% if request.resolver_match.view_name == 'about_us_view' %}class="active"{% endif %}><a href="{% url "about_us_view" %}">Haqqımızda</a></li>
        <li {% if request.resolver_match.view_name == 'product_list_view' %}class="active"{% endif %}><a href="{% url "product_list_view" %}">Məhsullar</a></li>
        <li {% if request.resolver_match.view_name == 'blog_list_view' %}class="active"{% endif %}><a href="{% url "blog_list_view" %}">Blog</a></li>
        <li {% if request.resolver_match.view_name == 'contact_us_view' %}class="active"{% endif %}><a href="{% url "contact_us_view" %}">Əlaqə</a></li>
    </ul>
</nav>