{% load static %}

<footer class="footer footer-dark appear-animate">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-about">
                        <a href="{% url "index_view" %}" class="logo-footer">
                            <img src="{% static "assets/images/demos/demo3/footer-logo.png" %}" alt="logo-footer" width="145"
                                height="45" />
                        </a>
                        <div class="widget-body">
                            <p class="widget-about-desc">Register now to get updates on pronot get up icons
                                & coupons ster now toon. Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Adipisci ad ullam sed reiciendis aut
                                animi totam iure ipsa et repellendus eos rerum quos, eum ut consectetur atque?
                                Dignissimos, et officiis.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="widget">
                        <h3 class="widget-title">Linklər</h3>
                        <ul class="widget-body">
                            <li><a href="about-us.html">Haqqımızda</a></li>
                            <li><a href="contact-us.html">Əlaqə</a></li>
                            <li><a href="cart.html">Kart</a></li>
                            <li><a href="wishlist.html">Sevimlilər</a></li>
                            <li><a href="login.html">Qeydiyyat</a></li>
                            <li><a href="faq.html">Suallar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Əlaqə</h4>
                        <ul class="widget-body">
                            <li><a href="https://go.2gis.com/v70q8l" class="widget-about-title"><i
                                        class="fa-solid fa-location-dot"
                                        style="color: white; font-size: 1.6rem;"></i> Məkan</a></li>
                            <li><a href="#"><i class="fa-solid fa-envelope"
                                        style="color: #ffffff; font-size: 1.4rem;"></i>
                                    khanbuta_academy@gmail.com</a></li>
                            <li><a href="#"><i class="fa-brands fa-whatsapp"
                                        style="color: #ffffff; font-size: 1.8rem;"></i> +994 55 201 85 84</a>
                            </li>
                            <li style="margin-bottom: -15px;">
                                <p>Bizi izləyin</p>
                            </li>
                            <div class="social-icons social-icons-colored">
                                <a href="#" class="social-icon social-whatsapp fa-brands fa-whatsapp"></a>
                                <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-left">
                <a href="#" class="copyright">© 2023 - 2024 KhanButa Group</a>
            </div>
        </div>
    </div>
</footer>